.nuevoProducto__titulo {
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: 700;
}

.nuevoProducto {
    width: 100%;
}

.nuevoProducto__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: calc(100% - 10%);

}

.btnUploadImg {
    font-size: 1.5rem;
    border: none;
    color: var(--colorButton);
    border-radius: 5px;
    padding: 1rem;
    border: var(--colorButton);
}

.btnUploadImg:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.agregarImagen {
    width: auto;
    height: 40rem;
    background: #f0f8ff;
    border: 5px dashed var(--colorButton);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.nombreProducto,
.precioProducto,
.agregarProducto {
    width: 100%;
    height: 3.5rem;
    margin:  0 1rem 10%;

}

.descripcionProducto {
    height: 50vw;
    width: 100%;
    margin: 1rem;

}

.agregarProducto {
    background: var(--colorButton);
    color: #fff;
}
.agregarProducto:hover{
    cursor: pointer;
    transform: scale(1.2);
}

@media (min-width:992px) {
    .nuevoProducto {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
    }

    .agregarImagen {
        width: 40%;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .nombreProducto,
    .precioProducto,
    .agregarProducto
     {
        margin: 1rem ;
    }

    .nuevoProducto__form {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        height: 40%;
    }

    .descripcionProducto {
        margin: 0 auto;
        height: 25vw;
       /* width: 40vw;*/
    }
}

@media (min-width:768px) {
    .agregarImagen {
        width: 100%;
        margin-left: 1rem;

    }

    .nuevoProducto__form {
      margin: 0 auto;

    }

    .nombreProducto,
    .precioProducto,
    .agregarProducto {
        margin: 1rem auto
    }
    .agregarImgBtn{
        display: none;
    }


}