.buscador{
    background: #fff;
    display: flex;
    align-content: center;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1.5px solid var(--colorButton);
    height: 10vh;
}
.logo{
    width: 10rem;
    margin: 1rem;
}
.busqueda{
    width: 100%;
}
.busqueda__lista{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.buscador__input{
    display: none;
}
.nav__loguin{
    color: var(--colorButton);
    border: 1.5px solid var(--colorButton);
    padding: 1rem 2rem;
}
.nav__loguin:hover{
    background: rgb(148, 149, 149) ;
    cursor: pointer;
    
}

.nav__busquedas{
    background-image: url("../img/lupa.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 3rem;
    padding: 1.5rem;
}
input:active{
    border: 2px solid var(--colorButton);
    
}

