:root {
   /*font family*/
   --raleway: 'Raleway', sans-serif;
   /*colores*/
   --color-fondo: #ffffff;
   --color-blue:  rgba(42, 122, 228, 1);
   ;
   --color-black:#464646;
   --color-footer:rgb(203, 225, 255);



   /**/


}
*{
   box-sizing: border-box;
}
html,body{
   width: 100%;
   
}

.body {


   background: var(--color-fondo);
   font-family: var(--raleway);
}



