.ofertas{
    background-image: url("../img/Hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100%;
    height: 40vh;
    justify-content: center;
    flex-direction: column-reverse;
}
.ofertas__titulo{
    color: #fff;
    font-size: 1.5rem;
    margin: 1rem;
}
.ofertas__parrafo{
    color: #fff;
    font-size: 1rem;
    margin: 1rem 0 2rem 1rem;
}
.ofertas__productos{
    background: var(--colorButton);
    color: #fff;
    margin: 1rem;
    padding: 1rem 2rem;
    font-weight: 600;
}