.tdProductos__head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productos__titulo{
    font-size: 1.2rem;
    font-weight: 600;
    margin: 1rem;
}
.agregarProducto{
    color: #fff;
    background: var(--colorButton);
    padding: 1rem;
    margin: .5rem;
}
.starWars,
.consolas,
.diversos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.starWars__head,
.consolas__head,
.diversos__head{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
}
.starWars__titulo,
.consolas__titulo,
.diversos__titulo{
    columns: var(--colorFont);
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem;
    
}
.verTodo{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.verTodo__link{
    color: var(--colorButton);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem;
}
.starWars__content,
.consolas__content,
.diversos__content{
    display: flex;
    width: 100%;
    align-items: center;
}
.starWars__lista,
.consolas__lista,
.diversos__lista{
    margin:.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.porductos__lista__items{
    margin-bottom: .5rem;
}
.starWars__porductos:nth-child(5),
.starWars__porductos:nth-child(6),
.consolas__porductos:nth-child(5),
.consolas__porductos:nth-child(6),
.diversos__porductos:nth-child(5),
.diversos__porductos:nth-child(6),
.porductos__lista__item:nth-child(5),
.porductos__lista__item:nth-child(6),
.porductos__lista__item:nth-child(11),
.porductos__lista__item:nth-child(12),
.porductos__lista__item:nth-child(17),
.porductos__lista__item:nth-child(18){
    display: none;
}

.starWars__descripcion,
.starWars__precio,
.starWars__verProductos,
.consolas__descripcion,
.consolas__precio,
.consolas__verProductos,
.diversos__descripcion,
.diversos__precio,
.diversos__verProductos{
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
.starWars__verProductos,
.consolas__verProductos,
.diversos__verProductos{
    color:var(--colorButton)
}
