@media screen and (min-width: 768px) {
    .busqueda {
        display: flex;
        justify-content: space-around;
    }

    .buscador__input {
        background: var(--bodyBacground);
        display: inline;
        width: 60%;
        height: 3rem;
        border: none;
        border-radius: 20px;
    }

    .buscador__input::placeholder {
        background-image: url(../img/lupa.svg);
        background-repeat: no-repeat;
        background-position: right;
        margin-right: 1rem;
        
    }

    .nav__busquedas {
        display: none;
    }

    .ofertas__contenido {
        margin-top: 5rem;
    }

    .starWars__lista,
    .consolas__lista,
    .diversos__lista {
        margin: .8rem;
        justify-content: space-between;
        width: 100%;
    }

    .sobreNosotros__titulo {
        width: 100%;
    }

    .sobreNosotros__titulo__img {
        width: 25vw;
        margin: 1rem;
    }

    .sobreNosotros__form {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        margin: 1rem;
    }

    .sobreNosotros__lista {
        text-align: left;
        margin-left: 1rem;
    }

    .contacto {
        margin-right: 1rem;
    }

    /* loguin usuario*/
    .loguin__user,
    .loguin__pass {
        margin: 1rem auto;
    }
}