.rodapie{
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.rodapie__titulo{
    margin: 1rem;
}
.rodapie__lista{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}
.rodapie__socialMedia__img{
    width: 10vw;
}
@media(min-width:992px){
    .rodapie__socialMedia__img{
        width: 3vw;
    }
}