@media (min-width:768px) {
    .busqueda{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .nav__busquedas{
        display: none;
    }

    .buscador__input {
        background: var(--bodyBacground);
        width: 60%;
        height: 2rem;
        display: inline;
        border-radius: 15px;
        padding-left: 1.5rem;
    }

    .buscador__input::placeholder {
        background-image: url(../img/lupa.svg);
        background-repeat: no-repeat;
        background-position: right;
        margin-right: 1rem;
    }
    .startwars__lista,
    .consolas__lista,
    .diversos__lista {
        display: flex;
        justify-content: space-around;
    }

    .tdProductos__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .productos__titulo {
        height: 2rem;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
    }
    .agregarProducto{
    
        background: var(--colorButton);
        margin: 1rem;
        padding: 1.2rem ;
        color: #fff;
    }
    .sobreNosotros{
        flex-direction: row;
    }
    img.sobreNosotros__titulo{
        width: 22vw;
    }
    .sobreNosotros__menu__content{
        width: 40%;
    }
    .contacto{
        padding: 2rem;
    }
    .porductos__lista__item:nth-child(5),
.porductos__lista__item:nth-child(6),
.porductos__lista__item:nth-child(11),
.porductos__lista__item:nth-child(12),
.porductos__lista__item:nth-child(17),
.porductos__lista__item:nth-child(18){
    display: inline;
}
}