.porductos__lista__item {
    display: flex;
    flex-direction: column;
    margin: .5rem;

}

.porductos__lista__item div.starWars__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 35vw;
    height: 35vw;
    align-items: flex-start;
}

.editar__borrar {
    position: absolute;
}

.editarIcon,
.borrarIcon {
    width: 2vw;
    margin: .5rem;

}


@media (min-width:992px) {
    .porductos__lista__item div.starWars__img {
        width: 18vw;
        height: 20vw;
    }
}